.page-container {
  display: flex;
  flex: 1;
}

.page-container > .left,
.page-container > .right {
  display: flex;
  flex: 1;
  margin: 20px;
}

.page-container > .left {
  display: flex;
  flex-direction: column;
  border: 1px solid var(--color-line);
  border-radius: 24px;
  /* padding: 40px; */
  overflow: hidden;
}

.page-container > .left > .toolbox {
  display: flex;
  justify-content: flex-end;
  padding: 14px 15px;
}

.page-container > .left > .toolbox > .reload-button {
  cursor: pointer;
  font-size: 18px;
  color: var(--color-iconNormal);
}

.page-container > .left > .logs-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  flex: 1;
  margin: 20px;
  gap: 10px;
  overflow-y: scroll;
}

.page-container > .right {
  display: flex;
  flex-direction: column;
  border: 1px solid var(--color-line);
  border-radius: 24px;
  gap: 20px;
  padding: 40px;
  overflow: hidden;
}

.page-container > .right > .animated-image {
  display: flex;
  justify-content: center;
  height: 300px;
}

.page-container > .right > h1 {
  text-align: center;
  font-family: sans-serif;
  font-weight: 800;
}

.page-container > .right .selector {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
  padding: 10px;
  border: 1px solid var(--color-line);
  border-radius: 8px;
}

.page-container > .right > .row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
}

.page-container > .right > .row > .col {
  display: flex;
  flex-direction: column;
  flex: 1;
  gap: 3px;
}

.page-container > .right > .row > .col > p {
  margin-left: 3px;
  font-size: 14px;
  font-weight: 500;
}

.page-container > .right > .btns-wrapper {
  display: flex;
  flex-direction: column;
  flex: 1;
  gap: 1px;
}

.page-container > .right > .btns-wrapper > button:first-child {
  border-radius: 8px 8px 0px 0px;
}

.page-container > .right > .btns-wrapper > button:last-child {
  border-radius: 0px 0px 8px 8px;
}

.page-container > .right button {
  padding: 15px 0px;
  border: 1px solid var(--color-line);
  font-weight: 500;
  font-size: 16px;
  color: var(--color-bg);
  transition: all 0.2s ease;
}

.page-container > .right .training-btn {
  background-color: var(--color-primaryHover);
}

.page-container > .right .training-btn:hover {
  background-color: var(--color-primary);
}

.page-container > .right .mine-btn {
  background-color: var(--color-textGray);
}

.page-container > .right .mine-btn:hover {
  background-color: var(--color-textWhite);
}

.page-container > .right > .status {
  display: flex;
  gap: 5px;
  justify-content: flex-end;
  align-items: center;
  cursor: pointer;
}

.page-container > .right > .status > .icon {
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background-color: red;
}

.page-container > .right > .status > .icon[data-connected="1"] {
  background-color: green;
}